
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	background-color: aquamarine;
	background-image: url('background.jpg');
}
.PraporB{
	background-color: yellow;
	font-size: 50px;
	color: blue;
	font-style: oblique;
	font-weight: 700;
}
.PraporY{
	background-color: blue	;
	font-size: 50px;
	color: yellow;
	font-style: oblique;
	font-weight: 700;
}
.zagolovok{
	text-align: center;
	font-size: 50px;
	font-style: italic;
font-family: 'Times New Roman', Times, serif;
	color: dark;
	
	
}
.posil{
	background-color: aqua;
	text-align: center;
	font-size: 30px;
	color: green;
}
.posil2{

	font-size: 30px;
	padding-left: 400px;
	padding-bottom: 30px;
}
a:link{
	color: red;
}
a:visited{
	color: dark;
}
.Photo1{
	
	padding-left: 500px;
	padding-top: 20px;
}
.anketa{
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
	padding-left: 450px;
}
.div1{
padding-left: 300px;
padding-top: 10px;
padding-bottom: 10px;
}

.p1{
	font-size: 20px;
	font-weight: 500px;
padding-left: 300px;
padding-top: 10px;
padding-bottom: 0px;
}	
.name{
	
	border: 1px;
	border-style: solid;
	border-color: dark;
	
}
.div2{
	padding-left: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
	.p2{
		font-size: 20px;
		font-weight: 500px;
	padding-left: 300px;
	padding-top: 10px;
	padding-bottom: 0px;
	}	
	.lastname{
		
		border: 1px;
		border-style: solid;
		border-color: dark;
		
	}
	.div3{
		padding-left: 300px;
		padding-top: 10px;
		padding-bottom: 10px;
		}
		
		.p3{
			font-size: 20px;
			font-weight: 500px;
		padding-left: 300px;
		padding-top: 10px;
		padding-bottom: 0px;
		}	
		.PhoneNumber{
			
			border: 1px;
			border-style: solid;
			border-color: dark;
			
		}
		.div4{
			padding-left: 300px;
			padding-top: 10px;
			padding-bottom: 10px;
			}
			
			.p4{
				font-size: 20px;
				font-weight: 500px;
			padding-left: 300px;
			padding-top: 10px;
			padding-bottom: 0px;
			}	
			.PhoneNumber2{
				
				border: 1px;
				border-style: solid;
				border-color: dark;
				
			}
			.div5{
				font-size: 20px;
				font-weight: 500px;
				padding-left: 300px;
				padding-top: 10px;
				padding-bottom: 10px;
				}
		.area{
			border: 1px;
			border-style: solid;
			border-color: dark;	
			font-size: 20px;
				
		}
		.p5{
		padding-top: 10px;
		padding-bottom: 10px;
		}
		.button{
			font-size: 30px;
			color: green;
			border: 1px;
			border-style: solid;
			border-color: green;
			border-radius: 2px;
			

		}	
		.button1{
			font-size: 30px;
			color: red;
			border: 1px;
			border-style: solid;
			border-color: red;
			border-radius: 2px;
		}